<div class="item_container">
<% @items.each do |item| %>
<div class="item_index">
<h1><%= item.name%></h1>
$<%= item.amount %>
</div>
<p class="item_date"><%= item.created_at.strftime('%e %B %Y') %> </p>
<% end %>

<%= link_to 'New Item', new_item_path, class: 'new_item_link' %>
<%= link_to 'Back to group', group_index_path, class: 'back_link' %>
</div>