<div class="item_container">
<div class="item">
<% @items.each do |item| %>
<%= item.amount %>
<h1><%= item.name%></h1>
<span><%= item.created_at.strftime('%e %B %Y') %> </span>
</div>
<Span>
<%= item.add_group%> Category
</span>
<% end %>

<%= link_to 'New Item', new_item_path %>

<%= link_to 'Back to group', group_index_path %>
</div>