<div class="item_container_new">
<div class="item_container_new">
  <%= form_with model: @item, url: item_index_path do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :amount %>
    <%= f.text_field :amount %>

    <%= f.submit 'Create Item' %>
  <% end %>
</div>

  <%= link_to 'Back Items', item_index_path %>
</div>
