<div class="group-container">
  <h1>Categories</h1>
  <% @groups.each do |group| %>
    <div class="group_item">
      <h2><%= group.name %></h2>
      <p><%= group.icon %></p>
      <p>Total Amount: $<%= group.items.sum(:amount) %></p>
      <%= link_to 'View Items', group_items_path(group) %>
    </div>
  <% end %>
  <%= link_to 'Add New Group', new_group_path %>
</div>
