<div class="log_in_form">
<div>
  <nav class="log_in_nav">
    <%= link_to(root_path, class: "log_in_link") do %>
      <i class="fa-solid fa-arrow-left-long"></i>
    <% end %>
    <h4 class="log_in_title">Log in</h4>
     <%= link_to "Sign Up", new_user_registration_path %>
  </nav>
</div>

<div class="log_form">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email", class: "field" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "field" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
  </div>
<% end %>

<%
=begin%>
 <%= render "devise/shared/links", class: 'link_devise' %> 
<%
=end%>
</div>