<div class="group_container_show">
<h1><%= @item.name%></h1>
<p><%= @item.amount %></p>
<p><%= @item.created_at.strftime %></p>
<%= lik_to 'Back to Groups', groups_path %>
<%= link_to 'View Items', group_items_path(@group) %>
</div>