<div class="group_container_show">
<h1>Transcation History</h1>
<p><%= @total %></p>
<% @group_items.each do |item| %>
<h1><%= item.name%></h1>
<p><%= item.amount %></p>
<p><%= item.created_at.strftime('%A, %B %d, %Y') %></p>
<% end %>
<%= link_to 'Back to Groups', group_path %>
<%= link_to 'View Items', item_path(@group) %>
</div>
