<div class="item_container">
<div class="item">
<% items.each do |item| %>
<%= item.amount %>
<h1><%= item.name%></h1>
<span><%= item.created.strftime('%e %B %Y') %> </span>
</div>
<% end %>

<%= link_to 'Add New Item', new_group_item_path(@group) %>
<%= link_to 'Back to group', groups_path %>
</div>
